.work-box {
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.work-box-second:nth-child(odd) {
  display: inline-block;
}

.work-box-second:nth-child(even) {
  display: none;
}

.work-box-Gra1 {
  background: linear-gradient(
    to left,
    var(--palette2SkyBlue),
    var(--primary),
    var(--primary)
  );
}

.work-box-Gra2 {
  background: linear-gradient(
    to left,
    var(--primary),
    var(--primary),
    var(--palette2SkyBlue)
  );
}

.work {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--darkgrey);
}

.work .col {
  /* padding: 2rem 1rem; */
  width: 50%;
}

.work .work-img {
  display: flex;
  align-items: center;
}

.work img {
  width: 100%;
}

.work .text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.work .text .projectName {
  font-size: 3.3vw;
  white-space: nowrap;
  font-weight: 700;
}

.work .text .projectCategory {
  font-size: 2.2vw;
  white-space: nowrap;
  font-weight: 500;
  color: var(--lightgrey);
}

.work .text .projectTechlonogies {
  font-size: 1.65vw;
  white-space: nowrap;
  margin: 0.5rem 0;
  color: var(--lightgrey);
}

@media screen and (max-width: 700px) {
  .work-box {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
  }

  .work-box-second:nth-child(odd) {
    display: none;
  }

  .work-box-second:nth-child(even) {
    display: inline-block;
  }

  .work {
    justify-content: center;
    flex-direction: column;
  }
  .work .col {
    /* padding: 2rem 1rem; */
    width: 100%;
  }

  .work .text .projectName {
    font-size: 5vw;
  }

  .work .text .projectCategory {
    font-size: 4vw;
  }

  .work .text .projectTechlonogies {
    font-size: 3vw;
  }
}

@media screen and (max-width: 550px) {
  .work-box {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .work-box {
    padding: 0.2rem;
  }
  .work .text .projectTechlonogies {
    display: none;
  }
}
